# Скопируй этот файл в .env и заполни на рабочем столе
DATABASE_URL=postgresql://neondb_owner:npg_UCv4I5oAuZcB@ep-solitary-scene-auaezacp-pooler.c-10.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_UCv4I5oAuZcB@ep-solitary-scene-auaezacp.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL=postgresql://neondb_owner:npg_UCv4I5oAuZcB@ep-solitary-scene-auaezacp-pooler.c-10.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
JWT_SECRET=lobok-super-secret-jwt-2026-change-in-production-32chars!
NEXTAUTH_SECRET=lobok-nextauth-secret-2026-32chars!
NEXTAUTH_URL=https://lobok-client.vercel.app
TELEGRAM_BOT_TOKEN=8936060898:AAH2S9HfmqTtK9PGHQRP4v3xiuUHkUIIBVk
DISCORD_INVITE=https://discord.gg/ASXzHaQfvj
NEXT_PUBLIC_SITE_URL=https://lobok-client.vercel.app
ADMIN_LAYF_LOGIN=LayF
ADMIN_LAYF_PASSWORD=sashalordan
ADMIN_VYBE_LOGIN=Vybe
ADMIN_VYBE_PASSWORD=LobokClient
